header {
  background-color: var(--primary);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  margin: 0;
}
header a {
  text-decoration: none;
  color: var(--link-color);
}
