html {
  --color-primary: tomato;
  --color-secondary: limegreen;
  --color-link: white;
  --font-family: sans-serif;
}

html.theme2 {
  --color-primary: purple;
  --color-secondary: skyblue;
  --color-link: white;
  --font-family: Georgia;
}
